@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}

:root{
    --color-violet: #8261EE;
    --color-pink: #FF589E;
    --color-text: #1e1e1e;
    --font: "Raleway", sans-serif;
}

body{
    font-family: var(--font);
    color: var(--color-text);
    line-height: 1.6;
}

a{
    text-decoration: none !important;
}

.button{
    display: inline-block;
    padding: 8px 20px;
    border-radius: 45px;
    background-color: white;
    color: var(--color-text);
    font-size: 13px;
    font-weight: 500;
}

.button-pink{
    background-color: var(--color-pink);
    color: white;
    transition: 0.3s;
}

.button-pink:hover{
    background-color: #8261EE;
    color: white;
}

.button-violet{
    background-color: var(--color-violet);
    color: white;
    transition: 0.3s;
}

.button-violet:hover{
    background-color: var(--color-pink);
    color: white;
}

::selection{
    background-color: var(--color-pink);
    color: white;
}